<section id="userRentals">
  <h1 class="page-title">My Rentals</h1>
  <div class="row">
    <ng-container *ngIf="rentals && rentals.length > 0">
      <div *ngFor="let rental of rentals; let i = index" class="col-md-4"> 
        <div class="card text-center">
          <div class="card-block">
            <h2 class="card-title">{{rental.title | ucwords}} - {{rental.city | ucwords}}</h2> 
            <button class="btn btn-bwm btn-primary" routerLink="/rentals/{{rental._id}}">Go to Rental</button>
            <span *ngIf="rental.bookings.length > 0"> 
             <app-manage-rental-booking [bookings]="rental.bookings"></app-manage-rental-booking>
            </span>
          </div>
          <div class="card-footer text-muted">
             <p class="created">Created at {{rental.created | formatDate}}</p> 
             <button (click)="rentalDeleteIndex = i"
                    *ngIf="rentalDeleteIndex !== i" 
                    type="button" 
                    class="btn btn-bwm btn-delete btn-danger">Delete</button>
              <div *ngIf="rentalDeleteIndex === i">
                  <p class="confirm-message">Do you wish to delete this property</p>
                  <button (click)="deleteRental(rental._id)" class="btn btn-success" style="margin: 5px">Yes</button>
                  <button (click)="rentalDeleteIndex = undefined" class="btn btn-danger">No</button>
              </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="rentals && rentals.length === 0" class="col-md-8">
      <div class="alert alert-danger">
        You dont have any propertys currenty listed. If you wish to list a property please follow this link.
        <a class="btn btn-bwm" routerLink="/rentals/new">Register Rental</a>
    </div>
  </div>
 </div>
</section>
