/* You can add global styles to this file, and also import other style files */
@import 'variables';
html, body, p {
    color: $main-text-color;
}
.apartment {
    color: green;
}
.condo {
    color: darkblue;
}
.house {
    color: red;
}   
